<%
var ue = genutils.template.unescaped;
var e = genutils.template.escape;
var btnClass, attrs, jadeAttrs;

switch(framework.css) {
  case 'bootstrap':
    btnClass = 'btn btn-success pull-right';
    attrs = ' class="page-header"';
    jadeAttrs = '.page-header';
    break;

  case 'foundation':
    btnClass = 'button success right';
    attrs = ' class="panel clearfix"';
    jadeAttrs = '.panel';
    break;

  default:
    btnClass = 'button';
    attrs = ' class="resource-index-header"';
    jadeAttrs = '.resource-index-header';
}
%>
<% if (engine !== 'jade') { %>

<div<%- attrs %>>
    <h1>All <%= names.constructor.plural %></h1>
    <%- ue("linkTo('Create a new " + e(names.constructor.singular) + "', add" + e(names.constructor.singular) + "Path, {class: '" + btnClass + "'})", engine); %>
</div>

<%- genutils.template.partial('list', engine); %>

<% } else { %>

<%- jadeAttrs %>
  h1
    All <%= names.constructor.plural %>
  <%- ue("linkTo('Create a new " + e(names.constructor.singular) + "', add" + e(names.constructor.singular) + "Path, {class: '" + btnClass + "'})", engine); %>

<%- genutils.template.partial('list', engine); %>

<% } %>